<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>

    <body>    
        <div class="body-container">
            <div class="dropdown-container">
                <img src="static/img/logo.png" class="logo">
            </div>
            
            <div class="content-container">
                <div class="heading-container">
                    <h1>Welcome.</h1>
                </div>

                <div>
                    <div class="btn-container">
                        <a href="auth/signup">
                            <button class="btn btn-primary">Sign Up</button>
                        </a>
                    </div>
                    <div class="btn-container">
                        <a href="auth/signin">
                            <button class="btn btn-primary">Sign In</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>