{% extends "partials/content.html" %}

{% block content %}
<div class="home-content" style="vertical-align: top;">
    <div class="row home-content__main wrap-table100">
        <div style="text-align:center;">
            Discussion Board
            <div class="discussion"> 
                <p>Student Name</p>
                <p>Post</p>
                <p>Datetime Display</p>
            </div>
        </div>
    </div> <!-- end home-content__main -->
</div> <!-- end home-content -->
{% endblock %}