<!DOCTYPE html>
<html>
    <head>
        <title>View Classes</title>
        <link rel="stylesheet" href="/home/brevin/repos/take-note/app/static/css/style.css">
    </head>
    <body>
        <div class="body-container">
            <div class="dropdown-container">
                <img src="/home/brevin/repos/take-note/app/static/img/5001-512.png" class="logo">
                <div class="dropdown-content">
                    <a href="/">Home</a>
                    <a href="/home/brevin/repos/take-note/app/templates/discussion/board.html">Discussion Board</a>
                    <a href="../auth/signout">Sign Out</a>
                </div>
            </div>
            <div align="center">
                Class Notes
                <div class="note_container"> 
                    <p>Description: </p>
                    <p>img</p>
                    <p>Postdate: </p>
                </div>
            </div>
            <a href="#head"><img src="/home/brevin/repos/take-note/app/static/img/newnote.png" class="notelogo" id="fixedbutton"></a>
        </div>
    </body>
</html>