{% extends "partials/content.html" %}

{% block content %}
<div class="home-content" style="vertical-align: top;">
    <div class="row home-content__main wrap-table100">
        <div style="text-align: center">
            Class Notes
            <div class="note_container"> 
                <p>Description: </p>
                <p>FILE VIEW</p>
                <p>Postdate: </p>
            </div>
        </div>
    </div> <!-- end home-content__main -->
</div> <!-- end home-content -->
{% endblock %}
