{% extends "partials/content.html" %}

{% block content %}

{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
    <div class="full-width" style="background-color:red;">
{% elif field.flags.error %}
    <div class="full-width" >
{% else %}
    <div class="full-width" >
{% endif %}
        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
{% endmacro %}

<div class="home-content" style="vertical-align: top;">
    <div class="row home-content__main wrap-table100">
        <div style="float:left;">
          <form class="form" id="searchform" method="POST" accept-charset="UTF-8">
              {{ form.csrf_token }}

              {{ render_field(form.dept, placeholder="Department", class="full-width form-input", type="text") }}
              {{ render_field(form.course_num, placeholder="Course Number", class="full-width form-input", type="text") }}
              {{ render_field(form.title, placeholder="Course Title", class="full-width form-input", type="text") }}
          </form>  
        </div>
    </div> <!-- end home-content__main -->
</div> <!-- end home-content -->
{% endblock %}